<h1 class='left-align white-text header-text'>Speaker Wire Calculator</h1>
<br><br>
<div class='container'>
  <div class='row'>
    <div class='input-field col s4'>
      <lable class='white-text'>Ohms(Ω)</label>
      <input type='number' min='1', step='1' pattern='\d+'
             ng-model='ohms' placeholder='Enter the ohms for your speakers' />
    </div>
    <div class='input-field col s4'>
      <lable class='white-text'>Distance(ft)</label>
      <input type='number' min='1', step='1' pattern='\d+'
             ng-model='feet' placeholder='Enter the total distance needed' />
    </div>
    <div class='input-field col s4'>
      <span style='position:relative; top:10px;'>
        <a class='waves-effect waves-light btn-large white blue-text' ng-click='calculateScore()'>
          <i class='mdi-image-flash-on left'></i>Calculate Gauge
        </a>
      </span>
    </div>
  </div>
  <strong about='#awg_gauge_data'>
    <div class='left-align white-text' style='font-size:1500%'>
      <center ng-show='isCalculated' datatype='xsd:string'>
        {{gauge}}AWG
      </center>

    </div>
    <span class='white-text'>Please donate to keep this site up:
      <a class='amber-text' hreflang='en' href='https://cash.me/$MichaelPierce'>https://cash.me/$MichaelPierce</a>.<br>
      Created By: <a class='amber-text' href='https://plus.google.com/u/0/+MichaelPierce7203879691?rel=author'>Michael Pierce</a>
    </span>
  </strong>
</div>
