html {
  overflow-y: scroll;
  background-color: #0288D1;
}

body {
  padding-top: 0px;
  background-color: #0288D1;

}

.header-text {
  padding-left: 5%;
}

@media print
{
  .no-print, .no-print *
    {
        display: none !important;
    }
}

input[type=number] {
  background-color: transparent !important;
  border-bottom: 1px solid white !important;
}
