<nav class="navbar-fixed-bottom" role="navigation">
  <div class="container">
    <center>
      <p style='color: #00009F;'> &#169; <%= link_to('Affektive Software LLC',
                  'http://www.affektive.com') %>  | Michael Pierce 2014
      </p>
    </center>
  </div>
</nav>
